[project]
	description = ECE2013
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wim Jongman (wimjongman)
[access "refs/for/refs/*"]
	read = group user/Wim Jongman (wimjongman)
	push = group user/Wim Jongman (wimjongman)
	label-Code-Review = -2..+2 group user/Wim Jongman (wimjongman)
	label-Verified = -1..+1 group user/Wim Jongman (wimjongman)
	rebase = group user/Wim Jongman (wimjongman)
	removeReviewer = group user/Wim Jongman (wimjongman)
	submit = group user/Wim Jongman (wimjongman)
[access "refs/heads/*"]
	read = group user/Wim Jongman (wimjongman)
	create = group user/Wim Jongman (wimjongman)
	push = +force group user/Wim Jongman (wimjongman)
	pushMerge = group user/Wim Jongman (wimjongman)
[access "refs/tags/*"]
	push = group user/Wim Jongman (wimjongman)
	push = +force group user/Wim Jongman (wimjongman)
